@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Nuvens de Cinzas do Vulcão</h1>
    <p>Cálculo para chegada das nuvens de cinzas aos aeroportos.</p>
</div>
